
<img src="./logo.png">

<h2>Hello there!</h2>

<p>
  You are one step away from becoming a registered user.
  Click on the link below to complete the registration process:
</p>

<p>
  <a href="<%= verifyHref %>">Click Here</a>
  https://exquisite-cadaver-api.herokuapp.com/
</p>